<nav>
  <ul>
    <li>
      <strong id="logo">{repl}</strong>
      <% if(typeof user == 'undefined'){ %><t id="logged_in_home" class="button">Languages</t><% } else { %><t id="logged_in_home" class="button">Languages</t><% } %>
    </li>
  </ul>
</nav>
<!--This is what I removed, if we need it again.-->
<!--<strong class="no-highlight">&nbsp;|&nbsp;</strong><t id="logged_in_account" class="button">Account</t>-->